@import 'src/styles/vars';

// frame div gather the screen elements, including the Card component
// the Card component is styled apart
.frame {

  // thick border of the screen
  .border {
    background-color: $screenBorder;
    width: 15rem;
    height: 15rem;
    margin: auto;
    margin-top: 1.5rem;
    border: 1px solid $mainBorders;
    border-radius: 0.5rem 0.5rem 0.5rem 1.5rem;

    // screen styling (not the content, which is styled in Card)
    .screen {
      background-color: $screen;
      width: 80%;
      height: 80%;
      margin: auto;
      margin-top: 1.5rem;
      border-radius: 0.5rem;

      // styling the Pokemon list (main screen display)
      .list {
        color: $screenBorder;
        font-family: $mainFont;
        overflow: hidden;

        .item {
          display: flex;
          margin-left: 0.2rem;
          margin-top: 0.2rem;
          margin-right: 0.2rem;
          
          &:hover {
            background-color: $greenLight;
            border-radius: 1rem;
          }

          .name {
            text-transform: uppercase;
            margin-left: 0.5rem;
          }
        }
      }
      
    }
  }
}