// Font imports
@import url('https://fonts.googleapis.com/css2?family=Trispace&display=swap');

$mainFont : 'Trispace', sans-serif;

// Main Pokedex colors

$mainColor : #dc0c2d;
$mainLight : #e9657b;
$mainBorders : #620419;

// Header colors

$radarBorder : #dcdada;
$radarMain : #1a6b9c;
$radarLight : #2ba9f9;
$redLight : #c30a23;
$yellowLight : #c0a31a;
$greenLight : #327238;

// Left part colors

$screenBorder : #dedede;
$screen : #232323;
$leftButtons : #05302b;

// Right part colors

$search : #dedede;
$typesButtons : #232323;
$genderButtons : #28abfc;
$submitButton : #fbde1e;

